<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title><%= title %></title>

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/"><img id="logo" src="/images/logo.jpg" alt="ELEARN"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/courses/all">All Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <% if (currentUser) { %>
            <!-- <li class="nav-item">
              <a class="nav-link" href="/<%= currentUser.type %>s/dashboard">
                Hello, <%= currentUser.username %>
              </a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/users/logout">Log out</a></li> -->
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hello, <%= currentUser.username %>
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                <a class="dropdown-item" href="/<%= currentUser.type %>s/dashboard">Your Dashboard</a>
                <a class="dropdown-item" href="/users/<%= currentUser.username %>">Your Profile</a>
                <a class="dropdown-item" href="/users/logout">Log out</a>
              </div>
            </div>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/users/signup">Sign up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/login">Log in</a>
            </li>
          <% } %>
        </ul>
      </div>
    </nav>

    <!-- flash messages -->
    <ul class="messages">
      <% if (dangerMessages) { dangerMessages.forEach(function(message) { %>
        <li class="alert alert-danger"><%= message %></li>
      <% });} else if (successMessages) { dangerMessages.forEach(function(message) { %>
        <li class="alert alert-success"><%= message %></li>
      <% });} %>
    </ul>
